.header{
padding: 60px;
text-align:center;
background: #1abc9c;
color:white;
font-size: 30px;
}
.header p{font-weight: bold;}
.nav{background-color: #000;display:block ruby;}
.nav ul{
  list-style-type: none;
  margin: 4px 0 0 0;
  padding: 0;
  
}
.nav ul li{ 
  display: block;
  float: left;
  font-size: 17pt;
}
.nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
.nav ul li a:hover{
  background-color: #1abc9c;
}


.content{
padding: 60px;  
border: 1px solid #1abc9c;  
}
.block{
  width: 100%;
  margin-bottom: 35px;
  padding-bottom: 10px;
  border-bottom: 15px solid #1abc9c;
}
.r30{
  width:33%;
  display: inline-block;
}
.r50{
  width:50%;
  display: inline-block;
}
.block h1{text-decoration: underline;}
.categories{
    display: block;
    display: block;
    font-size: 15pt;
}
.categories p{}
.categories p a{
    color: #1abc9c;
    padding: 5px;
    border: 1px solid #1abc9c;
    border-radius: 3pt;
    text-decoration: none;
    background: white;      
}
.categories p a:hover{}
.categories ol{}
.categories ol li{
margin-bottom: 15px;    
}
.categories ol li a{
background: #1abc9c;
padding: 5px;
border-radius: 3pt;
text-decoration: none;
color: white;    
}
.categories ol li a:hover{color:black;}
form{font-size: 20px;}
form legend{}
input {
    width: 100%;
  }
input[type=text] , input[type=date], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
  }
  button[type=submit]{
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #1abc9c;
    padding: 5px;
    border: 1px solid #1abc9c;
    border-radius: 3pt;
    text-decoration: none;
    background: white;  
    cursor: pointer;    
  } 
